<ul class="runs-list" style="justify-content: center; flex-wrap: wrap">
  <% if (runs.length === 0) { %>
  <li class="run-item"><%= runsEmptyMessage %></li>
  <% } else { %>
  <% runs.forEach(run => { %>
  <%- include("runItem", { run: run}) %>
  <% }) %>
  <% } %>
</ul>
