<ul class="runs-list" style="justify-content: center; flex-wrap: wrap;">
    <% if (users.length === 0) { %>
        <li class="run-item"><%= usersEmptyMessage %></li>
    <% } else { %>
        <% users.forEach(listUser => { %>
            <%- include("profileCard", { 
                user: listUser, 
                followers: [], 
                following: [], 
                runs: [], 
                loggedUser: loggedUser, 
                isOwner: loggedUser && loggedUser.userID === listUser.userID, 
                isFollowing: listUser.isFollowing,
                displayMode: "compact",
                actionMessage: null
            }) %>
        <% }) %>
    <% } %>   
</ul>
