<body>
    <% if(loggedUser) { %>
        <h1>Welcome, <%= loggedUser.firstName %>!</h1>
        <h2>Your Recent Runs</h2>
        <%- include("partials/runsList", { runs: recentRuns, showUser: false, runsEmptyMessage: "No recent runs logged yet." }) %>
        <h2>Runs from Users You Follow</h2>
        <%- include("partials/runsList", { runs: followingRuns, showUser: true, runsEmptyMessage: "No runs from users you follow." }) %>
    <% } else { %>
        <h1>Welcome to the Running Tracker App!</h1>
    <% } %>
</body>