body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

.main-title {
    color: #0066cc;
    text-align: center;
    margin-top: 20px;
}

.sub-title {
    color: #004999;
    text-align: center;
    margin-bottom: 10px;
}

.form-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-container label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container select {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    margin: 0px 0 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-btn {
    background-color: #0066cc;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #004999;
}

.alert-box {
    max-width: 400px;
    margin: 10px auto;
    padding: 10px;
    border-left: 6px solid transparent;
    border-radius: 4px;
    font-weight: bold;
}

.alert-box.error {
    background-color: #ffdddd;
    border-left-color: #f44336;
    color: #a70000;
}

.alert-box.success {
    background-color: #ddffdd;
    border-left-color: #4CAF50;
    color: #0f730c;
}

.product-list,
.category-list {
    max-width: 400px;
    margin: 10px auto 20px;
    padding: 0;
    list-style-type: none;
}

.product-item,
.category-item {
    padding: 8px 12px;
    background-color: #e6f2ff;
    margin: 4px 0;
    border-radius: 4px;
}

.description {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 20px;
}

.location-item {
    max-width: 600px;
    margin: 20px auto;
    padding: 15px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    /* divs horizontal alignment */
    display: flex;
}

div[style*="display: flex"] input[type="checkbox"] {
    margin-left: 8px;
    vertical-align: middle;
    transform: translateY(5px);
}
.navbar {
    background-color: #0066cc;
    overflow: hidden;
    display: flex;
    justify-content: left;
    padding: 10px 10px 10px 10px;
    text-align: center;
    gap: 10px;
}
.nav-btn {
  color: #004999;
  text-decoration: none;
  background: white;
  padding: 8px 14px;
  border-radius: 4px;
  transition: background 0.3s;
  font-weight: 500;
}

.nav-btn:hover {
  background: lightblue;
}

.nav-btn.active {
  background: #007bff; /* highlight current page */
}